FROM debian:12
RUN (echo Y | apt-get update) && ( echo Y | apt-get install apache2)
RUN mkdir /var/www/{{apache_site_name}}.{{ansible_nodename}}            
COPY ./{{apache_site_name}}.{{ansible_nodename}}.conf /etc/apache2/sites-available/000-default.conf
COPY ./index.html /var/www/{{apache_site_name}}.{{ansible_nodename}}
EXPOSE 80
RUN service apache2 restart
CMD ["apache2ctl", "-D", "FOREGROUND"]




