<VirtualHost *:80>
    ServerName 192.168.1.201
    DocumentRoot /var/www/{{ apache_site_name }}

    <Directory /var/www/{{ apache_site_name }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
